.shadow-box{
    /*perspective: 500px;*/
    /*-webkit-perspective: 500px; !* Safari and Chrome *!*/
    box-shadow: 5px 5px 10px 1px rgba(0,0,0,0.2);

}
.btn-primary-shadow{
    text-shadow: 0 -1px 0 rgba(0,0,0,.3);
    box-shadow: 0 4px 4px 0 #fa3434, 5px 5px 10px 1px rgba(0,0,0,0.2);
}
.item-row-shadow{
    box-shadow: 0 0 10px 1px rgba(0,0,0,0.2);
}
/*.stage-float-item{*/
/*    -webkit-transform: translateZ(-10px);*/
/*    background: white;*/
/*    position:relative;*/
/*    z-index: auto;*/

/*}*/
.QR-window{
    display: none;
    position:fixed;
    width: 400px;
    height: 400px;
    left:50%;
    top:50%;
    margin-left: -200px;
    margin-top:-200px;
    z-index: 9999999;
}
.QR-window img.icon{
    position: absolute;
    top:15px;
    right: 15px;
    height: 5%;
    width: 5%;
    z-index: 99999999;
}
.QR-window img#QRImg{
    position: absolute;
    width:95%;
    height: 95%;
    top:5%;
    right: 0px;
}