html, body {
    background: #eeeeee;
    height: 100%;
}
.navbar {
    background: #ffffff!important;
}
.main-content {
    margin-top: 20px;
    min-height: calc(100vh - 70px);
}
.main-content .header {
    background: #ededed;
    margin-bottom: 10px;
}
.main-content .header .title{
    background: #ffffff;
}
.main-content .header .title h5{
    background: #ffffff;
    margin-top:.5rem;
    padding-left: .5rem;
}
.function-list a{
    text-decoration: none;
    color: black;
}
.nav-list {
        float: right;
}

.nav-list a {
    text-decoration: none;
    color: #f55d54;
}
.content-show {
    background-color: #ffffff;
}
@media  (min-width: 1200px) {
    .container {
        max-width: 1170px;
    }
}
.navbar .home-name {
    color: #f55d54;
    margin-left: 30px;
}
.nav-list .nav-list-item {
    margin-left: 10px;
    margin-right: 10px;
}
.toast {
	position: fixed;
	z-index: 999;
	right: 1rem;
	top: 3rem;
}
.search-box{
    background:#F7F9FA;
    border:solid 1px rgba(128,128,128,0.5);
    border-radius: 10px;
    heihgt:30px;
    width:310px;
    display: inline-block;
    padding: 0;
    margin:0 0 0 auto;
}
.search-icon{
    margin: 5px;
    width:20px;
    height: 20px;
}
.search-input{
    height: 30px;
    background-color:transparent;
    border: none;
    outline: none;
}
.result-card{
    width: 100%;
    position: absolute;
    top:50px;
    overflow: auto;
    z-index: 9999999;
}
.footer {
    /*background-color: #212529;*/
    /*color: #ffffff;*/
    padding: 1rem 0;
}

.footer img {
    width: 150px;
    height: 150px;
}
